{% set rgb = "#{bg_color_rgb.red}, #{bg_color_rgb.green}, #{bg_color_rgb.blue}" %}

{% set desktop_alignment = content.field_horizontal_alignment.0['#markup'] %}
{% set mobile_alignment = content.field_vertical_alignment.0['#markup'] %}

{% set desktop_alignment_mapping = {
    'align-horizontal-center-desktop': "",
    'align-horizontal-left-desktop': "background: linear-gradient(to left, rgba(#{rgb}, 0) 30%, rgba(#{rgb}, 1) 100%)",
    'align-horizontal-right-desktop': "background: linear-gradient(to right, rgba(#{rgb}, 0) 30%, rgba(#{rgb}, 1) 100%)",
    'align-horizontal-center-offset-left-desktop': "background: linear-gradient(to left, rgba(#{rgb}, 0) 35%, rgba(#{rgb}, 0.8) 60%)",
    'align-horizontal-center-offset-right-desktop': "background: linear-gradient(to right, rgba(#{rgb}, 0) 35%, rgba(#{rgb}, 0.8) 60%)",

  }
%}


{% set mobile_alignment_mapping = {
    'align-vertical-top-mobile': "background: linear-gradient(to top, rgba(#{rgb}, 0) 45%, rgba(#{rgb}, 1) 63%, rgba(#{rgb}, 1) 100%)",
    'align-vertical-middle-mobile': "",
    'align-vertical-bottom-mobile': "background: linear-gradient(to bottom, rgba(#{rgb}, 0) 45%, rgba(#{rgb}, 1) 63%, rgba(#{rgb}, 1) 100%)",
  }
%}

{%
  set classes = [
    'brick',
    'background-image-text',
    'background-color-image-text',
    desktop_alignment,
    mobile_alignment,
  ]
%}

{% set desktop_image_url = content.field_media_image|escape|striptags('<!-- -->') %}
{% set mobile_image_url = content.field_mobile_image|escape|striptags('<!-- -->') %}

{% if content.field_background_color.0 is not empty %}
  <div {{ attributes.addClass(classes, 'brick-bg-color') }} style="background-color: {{ bg_color_hex }}">
    <div class="overlay-color-desktop {{ desktop_alignment }}" style="{{ desktop_alignment_mapping[desktop_alignment] }}"></div>
    <div class="overlay-color-mobile {{ mobile_alignment }}" style="{{ mobile_alignment_mapping[mobile_alignment] }}"></div>
{% else %}
  <div {{ attributes.addClass(classes) }}>
{% endif %}
    <div class="background-image desktop" style="background-image: url({% spaceless %}{{ desktop_image_url }}{% endspaceless %})"></div>
    <div class="background-image mobile" style="background-image: url({% spaceless %}{{ mobile_image_url }}{% endspaceless %})"></div>
    {{ content.field_text }}
  </div>
