<main>
  <h1>{% trans %}Napoleon Dealer Locator: Customer Inquiry{% endtrans %}</h1>
  <p>{% trans %}Thank you for your inquiry. A representative from your local Napoleon store will contact you shortly.{% endtrans %}</p>
  <hr>
  <section>
    <h2>{% trans %}Customer Details:{% endtrans %}</h2>
    <p>
      <strong>{% trans %}Name:{% endtrans %}</strong> {{ message.options.first_name }} {{ message.options.last_name }}<br>
      <strong>{% trans %}Email:{% endtrans %}</strong> {{ message.options.email }}<br>
      <strong>{% trans %}Phone:{% endtrans %}</strong> {{ message.options.phone }}
    </p>
    <p>
      <strong>{% trans %}Message:{% endtrans %}</strong><br>
      {{ message.options.message }}
    </p>
  </section>
  <hr>
  <section>
    <h2 style="display: none">{% trans %}Customer Extra Information:{% endtrans %}</h2>
    <p>
      {% trans %}Region:{% endtrans %} {{ message.options.dealer_region }}<br>
      {% trans %}Submitted on:{% endtrans %} {{ message.options.timestamp|date('F d, Y, g:ia (T)') }}<br>
      {% trans %}URL:{% endtrans %} {{ message.options.url }}
    </p>
  </section>
</main>
<footer>
  <div style="position:relative;padding:25px 0; background-color:black; margin-top:20px; text-align:center">
    <a href="https://www.napoleon.com" style="border:none" target="_blank"><img alt="Home" src="https://www.napoleon.com/themes/custom/de_theme/logo.png" style="max-width:50%; width:200px"> </a>
    <p style="color:white; margin:10px 0 0"><a href="https://www.napoleon.com" style="border:none; color:white; text-decoration:none" target="_blank">www.napoleon.com</a></p>
  </div>
</footer>
